@font-face {
  font-family: "RSU";
  src: url("/font/RSU_Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RSU";
  src: url("/font/RSU_BOLD.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Typographergotisch";
  src: url("/font/typographergotisch.a-bold.ttf");
}
