* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assets/bg-black.gif");
  overflow-x: hidden;
}

.contact {
  top: -12rem;
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-container {
  flex-direction: column;
}

.contact-icon {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.card-contact {
  align-self: end
}