.m-land {
  position: relative;
}

.m-land__title {
  position: absolute;
  left: 25%;
  top: 35%;
}

.m-land__question {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.question {
  background-size: cover;
  background-image: url("/assets/bg-m-land-question.png");
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1600px) {
  .m-land__title {
    width: 40%;
    left: 30%;
  }
}
