body {
  background-image: url("assets/bg-black.gif");
  overflow-x: hidden;
}

.result-card {
  position: relative;
  display: flex;
  justify-content: center;
  top: -10rem;
  z-index: 1;
  margin-left: -20px;
}

.result-card-bg {
  width: 100%;
  position: absolute;
  top: 365px;
  z-index: 0;
}

.result-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -85px;
}

.result-button {
  position: absolute;
  cursor: pointer;
}

.video-text {
  pointer-events: none;
}
