.m-land {
  position: relative;
}

.m-land__title {
  position: absolute;
  left: 25%;
  top: 35%;
}

.m-land__question {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.question {
  background-size: cover;
  background-image: url("/assets/bg-m-land-question.png");
  background-repeat: no-repeat;
}

.question__container {
  display: flex;
  flex-direction: column;
}

.question__first {
  margin-top: 300px;
  margin-left: 10%;
}

.question__second {
  margin-top: 400px;
  margin-left: 10%;
}

.question__third {
  margin-top: 400px;
  margin-left: 10%;
  margin-bottom: 190px;
}

.question__text {
  display: block;
  font-size: 2rem;
  color: white;
  /* padding-bottom: 1rem; */
  margin-bottom: 5rem;
  margin-left: 3rem;
}

.show-button {
  margin-top: -30px;
  cursor: pointer;
  font-family: Typographergotisch;
  background-image: url("/assets/button.png");
  width: 380px;
  height: 90px;
  background-repeat: no-repeat;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slider {
  width: 100%;
  display: none;
}

.image-slider.active {
  display: block;
}

.slider-container {
  position: relative;
  top: -8px;
}

.result-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
