.landing {
  background-image: url("/assets/bg-black.gif");
}

.landing-container {
  position: relative;
  top: -240px;
}

.logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.logo {
  position: relative;
  left: -120px;
}

.icon-preface {
  position: absolute;
  top: 130px;
  left: 460px;
}

.paper-container {
  top: -20px;
  display: flex;
  justify-content: center;
}

#paper1 {
  width: 65%;
}

#paper2,
#paper3 {
  opacity: 0;
  right: 0;
  position: absolute;
  transition: all 1s ease;
}

#paper2.active {
  opacity: 1;
  right: 370px;
}

#paper3.active {
  opacity: 1;
  right: 310px;
}

.minigame-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-bottom: 3rem;
}

.icon-minigame {
  margin-left: -200px;
}

.minigame-content {
  position: relative;
}

.minigame-wording {
  z-index: 1;
  position: relative;
  top: 20px;
  left: 15px;
  pointer-events: none;
}

.minigame-button {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(5, 180px);
  row-gap: 5px;
}

.minigame-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minigame-password {
  position: relative;
  margin: 3rem;
}

.button-enter {
  position: absolute;
  left: 80px;
  bottom: 80px;
  cursor: pointer;
}

.password-container {
  position: absolute;
  display: flex;
  width: 230px;
  justify-content: space-between;

  left: 100px;
  top: 275px;
}
.password {
  background-image: url("/assets/password-symbol.png");
  opacity: 0;
  width: 50px;
  height: 70px;
}

.password.active {
  opacity: 1;
}

.ready-container {
  height: 100%;
}

#cloud,
#fire,
#square {
  cursor: pointer;
  height: 170px;
  width: 180px;
  background-repeat: no-repeat;
}

#cloud {
  background-image: url("/assets/button-cloud.png");
  font-size: 2rem;
}

#cloud.active {
  background-image: url("/assets/button-cloud-active.png");
}

#fire {
  position: relative;
  top: -15px;
  background-image: url("/assets/button-fire.png");
}

#fire.active {
  background-image: url("/assets/button-fire-active.png");
}

#square {
  position: relative;
  top: 5px;
  left: 5px;
  background-image: url("/assets/button-square.png");
}

#square.active {
  background-image: url("/assets/button-square-active.png");
}

#go {
  cursor: pointer;
}

.character-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.character-modal__container {
  position: relative;
}

.character-modal__close {
  position: absolute;
  top: 0;
  right: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.go-container {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1500px) {
  .logo {
    top: 50px;
    width: 40%;
    left: -70px;
  }

  .paper-container {
    position: relative;
    top: 100px;
  }

  #paper2 {
    width: 45%;
  }

  #paper3 {
    width: 20%;
  }

  .icon-minigame {
    width: 60%;
  }
}
