* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assets/bg-black.gif");
  overflow-x: hidden;
}

.summary {
  top: -12rem;
  position: relative;
  width: 100%;
  height: 100%;
}

.devil {
  margin-bottom: 6rem;
}

.devil-title {
  margin-left: 5rem;
}

.monster {
  position: relative;
  top: -12rem;
}
.monster-title {
  margin-left: 5rem;
}

.summary-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.souvenir {
  position: relative;
  background-image: url("/assets/bg-grey.gif");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.souvenir-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 8rem;
}

.souvenir-card {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-actions {
  position: absolute;
  display: flex;
  bottom: 28%;
  left: 45%;
}

.card-actions.disabled {
  display: none;
}

.card-input {
  position: relative;
  border: 2px solid;
  padding: 1rem;
  font-size: 1rem;
  margin-right: 2rem;
}

.enter-button {
  cursor: pointer;
}

.follow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.contact {
  position: absolute;
}

.contact-button {
  position: absolute;
  top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

#contact {
  cursor: pointer;
}

.arrow-left,
.arrow-right {
  cursor: pointer;
  position: relative;
}

.arrow-left {
  right: -16%;
}

.arrow-right {
  left: -16%;
}

.follow-button {
  cursor: pointer;
}

.card-summary {
  width: 60%;
}

.bg-souvenir {
  width: 100%;
}

@media only screen and (max-width: 1500px) {
  .p-land__title {
    width: 40%;
    left: 30%;
  }

  .souvenir {
    height: 100%;
  }

  .card-actions {
    bottom: 25%;
  }
}
