<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css" />
    <script type="text/javascript" src="/js/navbar.js" defer></script>
    <title>Landing page</title>
  </head>

  <body>
    <div id="nav" class="nav">
      <div class="nav-sticky">
        <div class="nav-image">
          <img class="nav-icon" src="assets/icon-menu.png" width="250" />
          <img id="toggleMenu" src="assets/menu-icon.png" />
        </div>

        <div id="nav-modal" class="modal">
          <div class="nav-container">
            <div class="nav-list">
              <!-- HOMEPAGE -->
              <div class="menu">
                <a href="/" class="nav-item">Home</a>
              </div>

              <hr />

              <!-- PREFACE -->
              <div class="menu">
                <a href="Preface.html" class="nav-item">Preface</a>
              </div>

              <hr />

              <!-- NLAND -->
              <div class="menu two-line">
                <a href="NLand.html" class="nav-item">
                  <div class="nav-small-item">Journy to</div>
                  The N Land
                </a>
              </div>

              <hr />

              <!-- MLAND -->
              <div class="menu two-line">
                <a href="MLand.html" class="nav-item">
                  <div class="nav-small-item">Journy to</div>
                  The M Land
                </a>
              </div>

              <hr />

              <!-- PLAND -->
              <div class="menu two-line">
                <a href="PLand.html" class="nav-item">
                  <div class="nav-small-item">Journy to</div>
                  The P Land
                </a>
              </div>

              <hr />

              <!-- SUMMARY -->
              <div class="menu two-line">
                <a href="Summary.html" class="nav-item">
                  <div class="nav-small-item">The Summary of</div>
                  Dark Trid
                </a>
              </div>

              <hr />

              <!-- CONTACT -->
              <div class="menu">
                <a href="Contact.html" class="nav-item">Contact</a>
              </div>
            </div>
            <img class="bg-menu" src="assets/bg-menu.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
